@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="~/Scripts/home.js"></script>

<main>
    
    <h1>JAVASCRIPT</h1>

    <button onclick="alert('Hello, Abdul')">Click Me</button>
    
</main>
   